:host{
    grid-row: 3/5;
    grid-column: 2/3; 
}

.tabBar{
    grid-row: 3/4;
    grid-column: 2/3; 
    height: 25px;
    background-color: rgb(234, 241, 239); 
}

.bg-active{
    background-color: cadetblue;
    border-radius: 0 10px 0 0;
}

.bg-inactive{
    background-color: rgb(120, 163, 165);
    border-radius: 0 0 0 0;
}


.tabTitle{
    background-color: cadetblue;
    border-radius: 0 10px 0 0;
}

.material-icons{
    font-size: 14px;
    cursor: pointer;
}

.material-icons:hover{
    color: red;
}