<div class="d-flex flex-row justify-content-between align-content-center bg-dark w-100 h-100" >
    <div class="justify-content-start align-self-center ">
        <img [src]="logoUrl" id="applogo" alt="App Logo" >
    </div>
    <div class="flex-grow-1 align-self-center text-center "  id ="dragableRegion" >
        <span class="align-middle text-white">{{appTitle}}</span>
    </div>
    <button mat-icon-button (click)="onMinimize($event)" >
            <mat-icon >remove</mat-icon>        
    </button>

    <button mat-icon-button (click)="onResize($event)">
            <mat-icon *ngIf="isResized" >filter_none</mat-icon>
            <mat-icon *ngIf="!isResized" >crop_din</mat-icon>           
    </button>
    
    <button mat-icon-button  id="closebtn"     
            (click)="onClose($event)" >
            <mat-icon >close</mat-icon>        
    </button>           
</div>

