<div class="d-flex flex-row  align-content-center bg-dark w-100 h-100" >
    <div class="px-2 " [style.width]="'40px'">
        <i class="material-icons" style="color:cadetblue" >widgets</i>
    </div>
    <div class="flex-grow-1 align-self-center text-center"  id ="dragableRegion" 
            ng-dblclick = "onResize($event)">
        <span class="align-middle text-white">{{appTitle}}</span>
    </div>
    <!-- <button mat-icon-button (click)="onMinimize($event)" >
            <mat-icon >remove</mat-icon>        
    </button> -->

    <!-- <button mat-icon-button (click)="onResize($event)">
            <mat-icon *ngIf="isResized" >filter_none</mat-icon>
            <mat-icon *ngIf="!isResized" >crop_din</mat-icon>           
    </button> -->
    
    <!-- <button mat-icon-button  id="closebtn"     
            (click)="onClose($event)" >
            <mat-icon >close</mat-icon>        
    </button>   -->
    <button (click)="onMinimize($event)" >       
        <i class="material-icons" >remove</i>   
    </button>
    <button  (click)="onResize($event)">
        <i class="material-icons" *ngIf="isResized" >filter_none</i>   
        <i class="material-icons" *ngIf="!isResized" >crop_din</i>             
    </button>  
    <button id="closebtn" (click)="onClose($event)" >
            <i class="material-icons">close</i>
    </button>       
</div>

