<div class="d-flex flex-column justify-content-center h-100">    
    <div class="d-flex flex-column pt-5">
        <button (click)="onLogIn()">
            <i class="material-icons">account_circle</i>         
        </button> 
    </div>
    <div class="d-flex flex-column-reverse flex-grow-1 pb-1">
        <button (click)="onLock()">
            <i class="material-icons">lock_open</i>         
        </button>
        <button (click)="onCaptureScreen()">
            <i class="material-icons">fullscreen</i>         
        </button>
        <button (click)="onBugReporting()">
            <i class="material-icons">bug_report</i>         
        </button>
        <button (click)="onSearch()">
            <i class="material-icons">search_sharp</i>         
        </button>
        <button (click)="onApplySettings()">
            <i class="material-icons">settings_applications</i>         
        </button>
    </div>
</div>

