:host{
    grid-row: 2/3;
    grid-column: 1/2; 
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--toolbar)
}

.comp-upper-toolbar{
    align-self: flex-start;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.comp-lower-toolbar{
    align-self: flex-end;
    flex-grow: 1;
    display:flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
}

.material-icons{
    font-size: 30px;
    color : #999;
    padding: 7px;
}

.material-icons:hover{
    color : #eee;
    border: 1px solid red;
}