<div class="d-flex flex-column justify-content-center h-100">    
    <div class="d-flex flex-column">
        <button mat-icon-button  
                ng-disabled="buttonDisabled" (click)="onLogIn()">
            <mat-icon matTooltip="Login" color="accent"
                      matTooltipPosition="right">account_circle</mat-icon>         
        </button>  
    </div>
    <div class="d-flex flex-column-reverse flex-grow-1">
        <button mat-icon-button  
            ng-disabled="buttonDisabled" (click)="onApplySettings()">
            <mat-icon matTooltip="Settings" color="accent"
                  matTooltipPosition="right">settings_applications</mat-icon>         
        </button>
        <button mat-icon-button  
            ng-disabled="buttonDisabled" (click)="onLock()">
            <mat-icon matTooltip="Lock Application" color="accent"
                  matTooltipPosition="right">lock_open</mat-icon>         
        </button>
        <button mat-icon-button  
            ng-disabled="buttonDisabled" (click)="onCaptureScreen()">
            <mat-icon matTooltip="Screen shot" color="accent"
                  matTooltipPosition="right">fullscreen</mat-icon>         
        </button>
        <button mat-icon-button  
            ng-disabled="buttonDisabled" (click)="onBugReporting()">
            <mat-icon matTooltip="Bug Reporting" color="accent"
                  matTooltipPosition="right">bug_report</mat-icon>         
        </button>
        <button mat-icon-button  
            ng-disabled="buttonDisabled" (click)="onSearch()">
            <mat-icon matTooltip="Search" color="accent"
                  matTooltipPosition="right">search</mat-icon>         
        </button>
    </div>
</div>

