<form [formGroup]="form" 
    class="d-flex rounded-lg flex-column align-items-center bg-green p-3">
    <i class="material-icons " style="color:#000; font-size: 48px;">account_circle</i>
    <span class="m-3">Login </span>
    <div class="input-group form-group ">
        <div class="input-group-prepend ">
            <div class="input-group-text">
                <i class="material-icons">perm_identity</i>
            </div>
        </div>
        <input  formControlName="username"
            id="username" 
            type="text" 
            placeholder="Enter Username"
            class="form-control form-control ">
    </div>
    <div class="input-group form-group mt-3">
        <div class="input-group-prepend ">
            <div class="input-group-text">
                <i class="material-icons">vpn_key</i>
            </div>
        </div>
        <input  formControlName="password"
            id="password" 
            type="password" 
            placeholder="Enter password"
            class="form-control form-control ">
    </div> 
    <div class="m-1" *ngIf="!validLogin">
        <div class="text-danger" >Invalid Username or Password</div>
    </div>       
    <button class="btn btn-outline-dark btn-sm btn-block m-3" 
            [disabled]="!form.valid"
            type="button"
            (click)=login() >Login</button>
    <div class="m-3">
        <button class="btn btn-outline-dark btn-sm mr-2" 
                type="button"
                (click)="createAccount()">Signup</button>
        <button class="btn btn-outline-dark btn-sm ml-2" 
                type="button"
                (click)="goAnnonymous()">Go anonymous </button>
    </div>
</form>
