:host{
    align-self: flex-end;
}

.material-icons {
    font-size: 20px; 
    font-weight: normal;
    color: rgb(232, 236, 236);
    padding :5px 8px
}

.material-icons:hover{
    background-color: gray;
    border: 1px solid #000;
}

.material-icons.close-btn:hover{
    background-color: var(--danger);
}