<!-- <div class="d-flex flex-row justify-content-center align-content-center h-100"> -->
    <!-- <div class="minimize" (click)="onMinimize()" >
            <i class="material-icons ">remove</i>
    </div>
    <div class="resize" (click)="onResize()" >
            <i class="material-icons" *ngIf="isResized" >filter_none</i>
            <i class="material-icons" *ngIf="! isResized">crop_square</i>
    </div>
    <div class="close"
     (click)="onClose()" >
            <i class="material-icons">close</i>
    </div> -->
    <!-- <mat-icon aria-hidden="false" color="accent">crop_square</mat-icon>   -->      
    <button mat-icon-button 
            style="width: 40px; height: 30px; line-height: 0px; display: flex; align-items: center;"    
            (click)="onMinimize()" >
            <mat-icon   
                        aria-hidden="true" 
                        style="width: 40px; height: 30px; font-size: 15px;  color:#fff;"    
                        color="accent">remove</mat-icon>        
    </button>

    <button mat-icon-button 
            style="width: 40px; height: 30px; line-height: 0px;"    
            (click)="onResize()">
            <mat-icon style="width: 40px; height: 30px; font-size: 15px; color:#fff"
                      *ngIf="isResized" >filter_none</mat-icon>
            <mat-icon style="width: 40px; height: 30px; font-size: 15px; color:#fff"
                      *ngIf="!isResized" >crop_din</mat-icon>           
            <!-- <mat-icon color="accent" *ngIf="!isResized" >crop_square</mat-icon>  -->   
    </button>
    <button mat-icon-button 
            style="width: 40px; height: 30px; line-height: 0px;"        
            (click)="onClose()" >
            <mat-icon style="width: 40px; height: 30px; font-size: 15px; color:#fff">close</mat-icon>        
    </button>           
<!-- </div> -->

