:host{
    grid-row:3/4;
    grid-column:1/3;
    background-color: var(--statusbar);
   /*  display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; */
}
/* 
.comp-left-sidebar{
    align-self: flex-start;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.comp-right-sidebar{
    flex-grow:1;
    align-self: flex-start;
    display:flex;
    flex-direction: row-reverse;
    justify-content:flex-start;

}
 */
.material-icons{
    font-size: 14px;
    color : #999;
    padding: 2px 3px;
}