<form #f="ngForm" (ngSubmit)="submit(f)">
    <div class=formGroup>
        <h3 style="color: rgb(107, 160, 230)">Test App</h3>  
        <h5>Sign up</h5>
        <h6>to continue to Test App</h6> 
        <h5>OR </h5> 
        <h6>go anonymous</h6>
        <div class="radio">
            <label >
                <input required type="radio" ngModel name="loginoption" value="signin">Create Account 
            </label>
        </div>
        <div class="radio" *ngIf="avaiableUser > 0" >
            <label >
                <input required type="radio" ngModel name="loginoption" value="login">Log in with existing Account 
            </label>
        </div>
        <div class="radio">
            <label >
                <input required type="radio" ngModel name="loginoption" value="annonymous">Go Anonymous
            </label>
        </div>
        <p *ngIf = "f.value.loginoption=='annonymous'">
            Create a new account or Log in with existing user id to use advance features 
        </p>
        <button class="btn btn-primary" [disabled]="!f.valid">Next</button>
    </div>    
</form>