<!-- <mat-dialog-content>
	<p>
		{{message}}
	</p>
</mat-dialog-content>
<mat-dialog-actions align="center">
	<button mat-raised-button color="primary" (click)="onConfirmClick()" tabindex="1">{{confirmButtonText}}</button>
	<button mat-raised-button mat-dialog-close tabindex="-1">{{cancelButtonText}}</button>
</mat-dialog-actions> -->

<div class="card text-danger bg-white mb-3" >
	<div class="card-header text-center text-wrap">{{message}}</div>
	<div class="card-body clearfix">
		<button class="btn btn-danger float-left" 
				tabindex="1" 
				(click)="onConfirmClick()">{{confirmButtonText}}</button>
		<button class="btn btn-secondary float-right"	
				tabindex="-1"
				(click)="onCancelClick()">{{cancelButtonText}}</button>
	</div>
</div>