<form [formGroup]="form" class="modal" (ngSubmit)="submit(form)">  
    <h6>Sign up</h6>  
    <div class="form-group">
        <img class="rounded mx-auto d-block" id="userimg" src="../assets/black_user.png" alt="user image">
        <label for="userimgfile" id="userimglabel" style="cursor:pointer;" >Choose a profile picture</label>
        <input type="file" id="userimgfile" accept="image/png,image/jpeg" style="display: none">
    </div>  
    <div class="form-group">
        <label for="username" >Username</label>
        <input  formControlName="username"
                id="username" 
                type="text" 
                placeholder="Enter Username"
                class="form-control ">
        <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
            <div *ngIf="username.errors.required">UserName is required</div>
            <div *ngIf="username.errors.minlength">
                userame should be minimum of {{username.errors.minlength.requiredLength}} characters</div>
        </div>        
    </div>
    <div class="form-group">
        <label  for="password" >Password</label>
        <input  formControlName="password"
                id="password" 
                type="password" 
                placeholder="Enter password"
                class="form-control ">
        <div *ngIf="password.touched && password.invalid" class="alert alert-danger ">
            <div *ngIf="password.errors.required">Password is required</div>
        </div>        
    </div>
    <div class="form-group">
        <label  for="confirmPaswd" >Password</label>
        <input  formControlName="confirmPaswd"
                id="confirmPaswd" 
                type="password" 
                placeholder="Enter password again"
                class="form-control">
        <div *ngIf="confirmPaswd.touched && confirmPaswd.invalid" class="alert alert-danger ">
            <div *ngIf="confirmPaswd.errors.required">Password is required</div>
        </div>        
    </div>
    <div class="alert alert-success" role="alert" *ngIf = "signedUpSucessfully">
        <h6>Sucessfully Signup with Test App</h6>
        <h6><a routerLink="">Login with new credentials</a></h6>
    </div>
    <!--<div class="alert alert-danger" role="alert" *ngIf = "form.invalid">
        <div *ngIf="form.errors.status==409">
            <h6>Userd Name or Password invalid</h6>
        </div>
    </div>-->
    <div class="login">
        <span ><a routerLink="">Login Account </a></span>
    </div>
    <button class="btn btn-primary" [disabled]="!form.valid" [hidden]="signedUpSucessfully">SignUp</button>
</form>