/* You can add global styles to this file, and also import other style files */
:root {
    --toolbar:#343a40;
    --titlebar: #262626; 
    --statusbar:#2c3e50;
    --text: #fff;
    --danger:#ce5656;
    --toolbar-width: 45px;
    --titlebar-height: 30px;
    --tabbar-height: 25px;
    --statusbar-height: 25px;
}  

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    user-select: none;
}

.bg-green{
    background-color: #adc7cf !important ;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: lighter;
    font-style: normal;
    font-size: 24px;  
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    box-shadow: none !important;
    outline: none !important;
}

button{
    outline: none !important;
}

ul {
    list-style: none;
    margin:0;
    padding: 0;
}
